{{#each postagens}}
<div class="card mt-4">
    <div class="card-body">
        <h3>{{titulo}}</h3>
        <p>{{descricao}}
        </p>
        <a href="/postagem/{{titulo}}"><button class="btn btn-success">Saiba mais</button></a>
        <hr>
        <small>{{categoria.nome}}</small><br>
        <small>{{data}}</small>
    </div>
</div>
{{else}}
<h4>Não há nenhuma postagem</h4>
{{/each}}